* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header-top {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px solid #eceef4;
  width: 100%;
  max-width: 1366px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 403px;
  height: 93px;
  background-image: url(img/logo.png);
}

.logo a {
  color: #3687c4;
  font-size: 40px;
}

.contact-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 16px;
  color: #6d6e71;
  padding: 10px;
  border: 2px solid #d4d4d5;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.contact-popup:before {
  content: "";
  width: 0;
  height: 0;
  border-width: 10px 15px 0 15px;
  border-style: solid;
  border-color: #d4d4d5 transparent transparent transparent;
  position: absolute;
  top: 100%;
}

.contact-popup:after {
  content: "";
  width: 0;
  height: 0;
  border-width: 10px 15px 0 15px;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
  position: absolute;
  top: 95%;
}

.contact-block {
  display: flex;
  padding-top: 5px;
}

.contact-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

.contact-icon svg {
  fill: #6d6e71;
}

.contact-icon:hover svg {
  fill: #1faae2;
  cursor: pointer;
}

.contact-icon.active svg {
  fill: #1faae2;
}

.contact-icon::after {
  content: "\007C";
  color: #bcbec3;
  position: relative;
  right: -20px;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

.contact-icon:last-child::after {
  content: "";
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1366px;
}

.burger-menu,
.logo-tablet {
  display: none;
}

.menu {
  display: flex;
}

.menu a {
  font-size: 13px;
  font-weight: bold;
  color: #6d6e71;
  padding: 38px 18px;
  border-right: 1px solid #eceef4;
  position: relative;
}

.menu a:last-child {
  border-right: none;
}

.menu a:hover {
  color: #1faae2;
}

.menu a:hover:after {
  content: "";
  width: 0;
  height: 0;
  border-width: 0 15px 7px 15px;
  border-style: solid;
  border-color: transparent transparent #1faae2 transparent;
  position: absolute;
  left: 40%;
  bottom: 0;
}

#active {
  color: #1faae2;
}

#active:after {
  content: "";
  width: 0;
  height: 0;
  border-width: 0 15px 7px 15px;
  border-style: solid;
  border-color: transparent transparent #1faae2 transparent;
  position: absolute;
  left: 30%;
  bottom: 0;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search svg {
  fill: #6d6e71;
  width: 26px;
}

.field-search {
  border: none;
  font-size: 15px;
  padding: 10px;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 885px;
  background-image: url(img/background.svg);
  background-repeat: no-repeat;
}

.wrap {
  max-width: 1366px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.text-block {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.h1 {
  color: #ffffff;
  font-size: 42px;
  width: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
}

.slogan {
  width: 100%;
  font-size: 32px;
  color: #fff;
  font-weight: 300;
  text-shadow: 1px 1px rgba(206, 206, 206, 0.3);
  display: flex;
  justify-content: center;
  position: relative;
  left: -80px;
}

.slogan-letter {
  color: #bbedff;
  font-size: 130px;
  font-weight: bold;
  position: relative;
  top: -100px;
}

.slider {
  display: flex;
}

.img-slider {
  display: flex;
}

.img-block {
  position: relative;
  height: 242px;
  width: 322px;
}

.slider-like {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25%;
  position: absolute;
  bottom: 0;
}

.slider-like svg:hover {
  cursor: pointer;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.slider-like svg {
  width: 33px;
  height: 30px;
}

.like-green svg {
  fill: #adff63;
  padding: 5px;
}

.slider-like.like-green {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  background-color: #89ca51d2;
}

.like-orange svg {
  fill: #cc9800;
  padding: 5px;
}

.slider-like.like-orange {
  color: #cc9800;
  font-size: 14px;
  font-weight: bold;
  background-color: #feec75e7;
}

.button-next {
  width: 112px;
  height: 100%;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-next svg {
  fill: #d4d4d4;
  width: 30px;
}

.button-next svg:hover {
  fill: #6d6e71;
  cursor: pointer;
}

section {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.wrap-article {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1366px;
}

.section-block {
  max-width: 522px;
  display: flex;
}

.section-block-img {
  padding: 0 25px;
}

.section-block-text {
  text-align: justify;
}

.section-block-text h2 {
  padding: 10px 0;
  color: #6d6e71;
  font-size: 26px;
  font-weight: 700;
}

.section-block-text p {
  color: #6d6e71;
  font-size: 16px;
  font-weight: 300;
}

@media screen and (max-width: 1366px) {
  .header-top,
  .slider,
  .menu {
    display: none;
  }

  .header-bottom {
    padding: 20px 50px;
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60px;
    height: 60px;
  }

  .burger-menu svg {
    width: 60px;
    height: 11px;
    fill: #3687c4;
  }

  .logo-tablet {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 157px;
    height: 64px;
    background-image: url(img/logo.png);
  }

  .logo-tablet a {
    color: #3687c4;
    font-size: 40px;
  }

  .wrap-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1366px;
  }

  .section-block {
    max-width: 915px;
    display: flex;
    padding: 0 15px;
  }
}
