body {
  display: flex;
  justify-content: center;
}

.loader {
  width: 100px;
  height: 100px;
  margin: 100px;
  border-width: 10px;
  border-style: solid;
  border-color: rgb(0, 183, 255) transparent transparent transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation: loader 1s infinite linear;
  -webkit-animation: loader 1s infinite linear;
}

@keyframes loader {
  0% {
    transform: rotate(-50deg);
    -webkit-transform: rotate(-50deg);
    -moz-transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
    -o-transform: rotate(-50deg);
  }

  40% {
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
  }

  100% {
    transform: rotate(310deg);
    -webkit-transform: rotate(310deg);
    -moz-transform: rotate(310deg);
    -ms-transform: rotate(310deg);
    -o-transform: rotate(310deg);
  }
}

.block {
  position: relative;
  display: flex;
  align-items: center;
  width: 100px;
  height: 100px;
  margin: 100px;
  border-left: 20px solid rgb(0, 183, 255);
  border-right: 20px solid rgb(0, 183, 255);
}

.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgb(255, 178, 78);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation: ball-move 1s infinite linear;
  -webkit-animation: ball-move 1s infinite linear;
}

@keyframes ball-move {
  0% {
    transform: translateX(0);
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -ms-transform: translatex(0);
    -o-transform: translatex(0);
  }

  50% {
    transform: translateX(80px);
    -webkit-transform: translateX(80px);
    -moz-transform: translateX(80px);
    -ms-transform: translateX(80px);
    -o-transform: translateX(80px);
  }

  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

.figure {
  width: 300px;
  height: 300px;
  margin: 100px;
  background: linear-gradient(
    45deg,
    #eb4b2e 10%,
    #25aeb8 30%,
    #eb2e8d 70%,
    #672eeb
  );
  animation: figure-transform 10s infinite linear;
  -webkit-animation: figure-transform 10s infinite linear;
}

@keyframes figure-transform {
  0% {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: rotate(0) scale(1) skew(0, 0);
  }

  20% {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }

  35% {
    background: linear-gradient(
      135deg,
      #2eeb38 10%,
      #aeb825 30%,
      #2e51eb 70%,
      #eb2e47
    );
    transform: rotate(0) scale(1) skew(0, 0);
    -webkit-transform: rotate(0) scale(1) skew(0, 0);
    -moz-transform: rotate(0) scale(1) skew(0, 0);
    -ms-transform: rotate(0) scale(1) skew(0, 0);
    -o-transform: rotate(0) scale(1) skew(0, 0);
  }

  45% {
    transform: rotate(0deg) scale(0.5) skew(20deg, 20deg);
    -webkit-transform: rotate(0deg) scale(0.5) skew(20deg, 20deg);
    -moz-transform: rotate(0deg) scale(0.5) skew(20deg, 20deg);
    -ms-transform: rotate(0deg) scale(0.5) skew(20deg, 20deg);
    -o-transform: rotate(0deg) scale(0.5) skew(20deg, 20deg);
  }

  65% {
    transform: rotate(90deg) scale(1) skew(0, 0);
    -webkit-transform: rotate(90deg) scale(1) skew(0, 0);
    -moz-transform: rotate(90deg) scale(1) skew(0, 0);
    -ms-transform: rotate(90deg) scale(1) skew(0, 0);
    -o-transform: rotate(90deg) scale(1) skew(0, 0);
  }

  80% {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }

  100% {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
}
